# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
target
target/
.classpath
.classpath/
.project
.project/
.settings
.settings/
.prefs
.pydevproject
.idea/
.idea.DS_Store
.cache
.iml
*.pyc
*.xlm
